<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About the Scale</h2>
        <hr class="star-no-star-light">
        <p>The Rickter Scale judges movies and TV seasons on several numeric categories, plus a "vibe check" statement of how I felt immediately after watching it.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <p>Rewatchability: How much do I want to watch this again at some point?</p>
      </div>
      <div class="col-sm-6">
        <p>Compelling Characters: How often do characters make decisions that are in-character? Are they enjoyable to watch?</p>
      </div>
      <div class="col-sm-6">
        <p>Supercalifragilisticexpialidociousness: How much do I like this movie for reasons unrelated to the movie itself (i.e. the actors, the nostalgia, etc.)?</p>
      </div>
      <div class="col-sm-6">
        <p>Pacing: How well does the movie use its runtime?</p>
      </div>
      <div class="col-sm-6">
        <p>Cinematography: How many frames could stand alone as a piece of art?</p>
      </div>
      <div class="col-sm-6">
        <p>Infrastructure: How well does the movie's construction -- editing, soundtrack, timing -- evoke emotion?</p>
      </div>
    </div>
    <hr>
  </div>
</section>
