<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="skills">In order to guarantee data freshness for the scores on the main scale, media I consumed before the construction of the Rickter Scale are gathered here with a more rudimentary rating system. Movies here are arranged alphabetically in five sections of recency, the most recent section appearing first. This list is therefore very roughly chronological.</span>
        </div>
      </div>
    </div>
  </div>
</header>
