<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ forloop.index }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content" style="background-color: black;">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr" style="background-color: white">
        <div class="rl" style="background-color: white">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {% assign has_title_img = false %}
            {% for f in site.static_files %}
              {% if post.thumbnail-img == f.name %}
                {% assign has_title_img = true %}
              {% endif %}
            {% endfor %}
            
            {% if post.thumbnail-img contains "https://image.tmdb.org" %}
            <img src="{{ post.thumbnail-img }}" class="img-responsive img-centered" alt="{{ post.alt }}" style="background-color:black; width: 35em;">
            {% elsif has_title_img %}
            <img src="{{ site.url }}{{ site.baseurl }}/img/{{ post.thumbnail-img }}" class="img-responsive img-centered" alt="{{ post.alt }}"
              style="background-color:black; width: 35em;">
            {% else %}
            <span style="font-size: 3em; color: white;">{{ post.title }}</span>
            {% endif %}
            
            {% if post.subhead %}
            <h1 style="color: white;">{{ post.subhead }}</h1>
            {% endif %}
            
            <hr class="star-no-star-light">

            {% if post.old %}

            <div>
              <span class="material-symbols-outlined {% if post.rating == 'bad' %}highlight{% endif %}" style="font-size: 6em;">thumb_down</span>
              <span class="material-symbols-outlined {% if post.rating == 'fine' %}highlight{% endif %}" style="font-size: 6em;">sentiment_neutral</span>
              <span class="material-symbols-outlined {% if post.rating == 'good' %}highlight{% endif %}" style="font-size: 6em;">thumb_up</span>
            </div>

            <br>
            <br>
            
            {% else %}
            
            <h4>Completed {{ post.date | date: "%B %d, %Y" }}</h4>

            <ul class="item-details list-unstyled">
              <li>Rewatchability:
                <strong>{{ post.rewatch }}</strong>
              </li>
              <li>Compelling Characters:
                <strong>{{ post.characters }}</strong>
              </li>
              <li>Supercalifragilisticexpialidociousness:
                <strong>{{ post.super }}</strong>
              </li>
              <li>Pacing:
                <strong>{{ post.pace }}</strong>
              </li>
              <li>Cinematography:
                <strong>{{ post.cinema }}</strong>
              </li>
              <li>Infrastructure:
                <strong>{{ post.structure }}</strong>
              </li>
              <li>Vibe check:
                <i style="font-weight: lighter;">{{ post.vibe }}</i>
              </li>
            </ul>

            {% endif %}

            <button type="button" class="btn btn-default" data-dismiss="modal"
              style="background-color: #{{ site.color.secondary-dark }};"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}